@()

@main("EventUs - Events for Us") {

    <script>
        var recoveredName;
        var recoveredId;
        var recoveredMail;
        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
        }


      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        if (response.status === 'connected') {
            testAPI();
        } else if (response.status === 'not_authorized') {
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
      }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        }, {scope: 'email'});

      }

      window.fbAsyncInit = function() {
      FB.init({
        appId      : '1860962844129074',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.3'
      });

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log(JSON.stringify(response));
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
            recoveredName = response.name;
            recoveredId = response.id;
            recoveredMail = response.email;

        });
      }

      function proceed(){
        if (recoveredName != null){
          post('/user', {name: recoveredName, email: recoveredMail});
        }
      }

    </script>

    <fb:login-button scope="public_profile, email" onlogin="checkLoginState();">
    </fb:login-button>

    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>

    <button type="button" onclick="proceed();">Register Facebook User</button>


    <div id="status">
    </div>

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

    <ul id="events"></ul>

    <form method="POST" action="@routes.Application.login()">
        <input type="email" name="email" placeholder="Login"/>
        <button>Login</button>
    </form>

    <form method="POST" action="@routes.Application.addUser()">
        <input type="email" name="email" placeholder="Email address"/>
        <input type="text" name="name" placeholder="User Name" required pattern="[a-zA-Z0-9]+"/>
        <button>Register User</button>
    </form>

    <form method="POST" action="@routes.Application.addEvent()">
        <input type="text" name="name" placeholder="Event Name" required pattern=".+"/>
        <input type="text" name="description" placeholder="Event Description"/>
        <input type="text" name="hashtag" placeholder="Hashtag" required pattern="[0-9A-Za-z]*"/>
        <button>Add Event</button>
    </form>

    <form method="POST" action="@routes.Application.postComment()">
        <input type="text" name="contents" placeholder="Comment Contents"/>
        <input type="text" name="eventId" placeholder="Event Id" required pattern="[0-9]+"/>

        <button>Post Comment</button>
    </form>

    <form method="POST" action="@routes.Application.increaseScore()">
        <input type="text" name="id" placeholder="Comment Id" required pattern="[0-9]+"/>
        <button>Props Comment</button>
    </form>

    <form method="POST" action="@routes.Application.decreaseScore()">
        <input type="text" name="id" placeholder="Comment id" required pattern="[0-9]+"/>
        <button>Deprops Comment</button>
    </form>

    <!--<form method="POST" action="@routes.Application.getTweetsByHashtag("asdasd")">-->
        <!--<input type="text" name="id" placeholder="Event id" required pattern="[0-9]+"/>-->
        <!--<button>Get Tweets</button>-->
    <!--</form>-->

    <form action="/events">
        <button>Events</button>
    </form>

    <form action="/users">
        <button>Users</button>
    </form>

    <form action="/comments">
        <button>Comments</button>
    </form>

    <form action="/logout">
        <button>Logout</button>
    </form>

}
